/* use em in queries */
/* 1rem = 1em = 16px */

/* ------------------------ */
/* BELOW 1200px (Landscape Tablets) */
/* ------------------------ */

/* 1200px/16 = 75em */

@media (max-width: 75em) {
  html {
    font-size: 70%;
  }
}

/* ------------------------ */
/* BELOW 1020px (Tablets) */
/* ------------------------ */

@media (max-width: 63em) {
  html {
    font-size: 70%;
  }
}

/* ------------------------ */
/* BELOW 900px (Tablets) */
/* ------------------------ */

@media (max-width: 55em) {
  html {
    font-size: 70%;
  }
}

/* ------------------------ */
/* BELOW 771px (Tablets) */
/* ------------------------ */

@media (max-width: 49em) {
  html {
    font-size: 70%;
  }

  .card-list {
    grid-template-columns: 1fr 1fr;
  }
}

/**************************/
/* BELOW 560px (Phones) */
/**************************/

@media (max-width: 40em) {
  html {
    font-size: 70%;
  }
  .card-list {
    grid-template-columns: 1fr;
  }
}
