* {
  margin-top: 0;
}

.container {
  font-family: sans-serif;
  border: 5px solid black;
  width: 800px;
  margin: auto;
  margin-top: 40px;
  line-height: 1.5;
  position: relative;
}

.sale {
  color: white;
  padding: 10px;
  position: absolute;
  background-color: brown;
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  top: -25px;
  left: -40px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  background-color: rgb(239, 239, 239);
  height: 50px;
  padding-top: 20px;
}

.price {
  margin-bottom: 0;
}

strong {
  font-size: 25px;
  margin-bottom: 0;
}

.free {
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: cornflowerblue;
  border-bottom: 1px solid cornflowerblue;
}

a:hover {
  color: rgb(150, 52, 236);
  border-bottom: 1px solid white;
}

.colors {
  padding-left: 0;
}

.color {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding-left: 0;
}

.black {
  background-color: black;
}

.blue {
  background-color: blue;
}

.red {
  background-color: red;
}

.yellow {
  background-color: #edc368;
}

.green {
  background-color: green;
}

.brown {
  background-color: rgb(131, 20, 20);
}

h3 {
  padding-top: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}

li {
  list-style: square;
}

button {
  text-transform: uppercase;
  font-size: 25px;
  color: white;
  background-color: black;
  width: 100%;
  height: 50px;
  padding: 0;
  border-top: 5px solid black;
}

button:hover {
  color: black;
  background-color: white;
}

/* flexbox */
.price-shipping {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.colors {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* Css Grid */
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
}

/* contains:
1- title
2- img
3- pro-price
4- pro-details
5- button */

.title {
  grid-column: 1 / -1;
}

.button {
  grid-column: 1 / -1;
}

footer {
  padding-top: 5px;
  text-align: center;
}
